

#div_header{
  background-color: #a3f5eb;
  position: relative;
  top: 40px;  
  height: 150px;
  
}

#logocastilla{
  position: relative;
  left: 700px;
  top: 20px;
}

#logojunta{
  position: relative;
  left: 4%;
  top: 20px;
  height: 70px;
  width: 100px;
}

#banner{
  width: 400px;
  position: relative;
  left: 25%;
  bottom: 20px;
  
}

#catedral{
  position: relative;
  top: 10px;
  left: 30px;
  width: 800px;
  height: 250px;
}

#segovia{
  background-color: #24c335;
  color: white;
  font-family: verdana;
  float: right;
  position: relative;
  right: 10px;
  bottom: 244px;
  width: 490px;
  height: 250px;
  border-left: 13px solid #6cd678;
}

#parrafo1{
  float: right;
  position: relative;
  top: 45px;
  right: 20px;
  font-size: 30px;
}

#parrafo2{
  float: right;
  position: relative;
  top: 100px;
  left: 102px;
  font-size: 16px;
}

